.main {
  width: 50%;
}

.slider-control {
  height: 1em;
  padding-top: .5em;
}

.slider {
  height: 2px;
  border: 1px solid black;
}

.slider-handle {
  height: 1em;
  width: 1em;
  border: 1px solid black;
  border-radius: 2px;
  background: #fff;
  cursor: pointer;  
}
.slider-handle:hover {
  background: #ddd;
}